@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');





* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Exo 2', sans-serif;
  background: #272727e8;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
  background-color: #d4d4d4;
  max-width: 80%;
  overflow: auto;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;

}

section {
    flex: 1;
}


.ylatunniste {
    background-color: #b3b3b3;
    min-height: 10vh;
    max-width: 100vw;
    display: flex;
}

footer {
    background-color: #b3b3b3;
    height: 10vh;
    display: flex;
    align-items: flex-end;
}

 #logo a {
    font-family: 'Inter', sans-serif;
    
}

.tunniste_painikkeet {
        background-color:#d4d4d4 ;
        height: 10vh;
        margin-right: 2em;
        display: flex;
        align-items: center;
        border: 1px #2b2b2b groove;
        
}

.tunniste_painikkeet a{
    color: #2b2b2b;
    text-decoration: none;
}

.etusivu  {
    width: 100%;
    height: 50vh;
    aspect-ratio: 16/9;
    border: 2px blue solid;
    overflow: hidden;
}

.etusivu img{
    max-height: 100%;
    max-width: 100%;
}

.etusivu_alaosa {
    width: 100%;
    height: 35vh;
    border: 2px green solid;
    display: flex;

}

 #vasen, #oikea {
    width: 50%;
    max-height: 100%;
     border: 2px black solid;
     background-color: #b3b3b3;
     
}

#vasen h2 {
    text-align: center;
}

#oikea h2 {
     text-align: center;

}
/* tapahtumien fontit */
.font_metal{
    font-family:'Metal Mania', cursive;
    background-color: #d4d4d4;
}

.font_default{
    font-family: 'Inter', sans-serif;
    background-color: #d4d4d4;
}

.tapahtuma h2 {
    text-align: center;
}

.tapahtuma a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.589);
}

.otsikko {
    text-align: center;
    background-color: #d4d4d488;
}