@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/*  Sivuston runko  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Exo 2', sans-serif;
  background: #272727e8;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
  background-color: #d4d4d4;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;

}

section {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    background-color:#b3b3b3;
}


footer {
    background-color: #d4d4d4;
    height: 5vh;
    display: flex;
    align-items: flex-end;
    
}

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}


/* Header  */ 

.navbar {
    background-color: #d4d4d4;
    max-height: 6.5vh;
    max-width: 100vw;
}


.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 1rem;   
}

.navbar a {
    padding: 15px;
    margin: 0 1rem 0 0;
    border: 1px #2b2b2b solid;
    color: rgb(7, 6, 6);
    text-decoration: none;

}

.navbar a:hover {
    background-color: #404040;
}
.navbar li:last-child {
    margin-left: auto;
}

.profile {
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3rem;
    text-align: right;
    width: 100%;
}

.profile_buttons {
    display: flex;
    gap: 0.5rem;   
}


.profile a {
    border: 1px solid #2b2b2b;
    padding: 6px 10px;
    background: #d4d4d4;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    font-size: 0.9rem;
}


.tunniste_painikkeet a{
    color: #2b2b2b;
    text-decoration: none;
}


/* Etusivun kuva */

.etusivu_kuva  {
    width: 100%;
    height: 500px;
    overflow: hidden;
    
}

.etusivu_kuva img{
    width:100%;
    height: 100%;
    object-fit: cover;

}


/* tapahtumien fontit */
.font_metal{
    font-family:'Metal Mania', cursive;
    letter-spacing: 1px;
}

.font_default{
    font-family: 'Inter', sans-serif;
}

.otsikko {
    text-align: center;
    margin-bottom: 2rem;
}
/*  Uuden tilin luonti  */

.signup_form {
    width: 50%;
    height: 70vh;
    margin: auto;    
}


input {
  border: 1px solid #999;
  border-radius: 0.3rem;
  padding: 0.45rem;
  font-size: 1rem;

}
input[type=submit] {
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  background-color:#2b2b2b;
  color: #fff;
  font-weight: bold;
  min-width: 12rem;
  margin: 1rem auto;
}
.error {
  color: red;
  font-size: 1rem;
}
.tili_luotu {
    border: 2px #2b2b2b solid;
    border-radius: 2px;
    max-width:25.5rem;
    margin:3rem auto;
}
.tili_luotu p {
    text-align: center;
}


#tili_luotu_otsikko {
    margin-top: 2em;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.info {
  background-color: #b3b3b3;
  border: 1px solid #2b2b2b;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 2rem;
  text-align: center;
}

.info a {
  color: #e5e4e4;
  text-decoration: none;
  font-size: 1.2rem;
}


#kirjaudu_aktivoitu{
    text-align: center;
    display: block;
    padding: 14px 14px;
    color: #b3b3b3;
    background-color: #534b4b;
    margin: 2em auto 0 auto;
    width: fit-content;
    text-decoration: none; 
}

.tili_aktivoitu {
    text-align: center;
}
/* Ylläpitosivu */

.yllapitosivu {
    text-align: center;
    font-size: 1.5rem;
}

.yllapitosivu h2 {
    margin-top: 2rem;
    
}

.lisaaTapahtuma {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem 2rem;
     max-width: 45vw;
     margin: 1rem auto;
       
}

.lisaaTapahtuma input,  
.lisaaTapahtuma textarea,
.lisaaTapahtuma select {
    font-size: 14px;
    border-radius: 4px;
    padding: 8px;
}
.lisaaTapahtuma input[type=submit] {
    width: 5rem;
    height: 3rem;
    grid-column-start: 3;
    
}

.lisaaTapahtuma select {
      margin-top: 1.1rem;
}

/* Etusivun alaosan määritykset */

.etusivu_alaosa {
    width: 100%;
    height: 35vh;
    display: flex;

}

 #vasen, #oikea {
    width: 50%;
    max-height: 100%;
     border: 2px black solid;
     background-color: #b3b3b3;
     
}

.etusivu_alaosa h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
}


.uudetTapahtumat, .suositutTapahtumat {
    max-height: 9vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr auto;
    padding: 2rem;
    gap: 1rem;
    
}

.uudetTapahtumat p, .suositutTapahtumat p {
    font-size: 1.4rem;
}

.uudetTapahtumat a, .suositutTapahtumat a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    border: 0.7px #2b2b2b solid;
    border-radius: 1px;
    padding: 1.5px;
}

/* lippujen saatavuuden määrityspallo */
.paljon {
  height: 15px;
  width: 15px;
  background-color: #08b617;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.2rem;
  align-self: center;
  
}

.vahissa {
  height: 15px;
  width: 15px;
  background-color: hsl(59, 92%, 54%);
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.2rem;
  
}

.loppu {
  height: 15px;
  width: 15px;
  background-color: #f80e06;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.2rem;
  align-self: center;
}


/* yksittäisen tapahtuman tiedot */

.tapahtumanTiedot {
    height: 30vh;
    margin: 1rem 2rem 0 2rem ;
}

.tapahtumanTiedot h2 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    
}

.tapahtumanTiedot input[type=number]{
    margin: 1px 3px ;
}

.tapahtumanTiedot p {
    font-size: 1.3rem;
    line-height: 1.6;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.ostoTiedot button {
    height:1.5rem;
    width:4rem;
    border-radius: 3px;
}

.tapahtuma {
    border-bottom: 1px solid #555;
    margin:0 2rem;
}

.tapahtuma p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
    
}
.tapahtuma a {
    display: block;
    width: 5rem;
    text-align: center;
    margin: 0.5rem 0; 
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px #2b2b2b solid;
    border-radius: 2px;
}


.tapahtuma h2 {
    text-align: center;
}

.saatavuus{
    display: flex;
    flex-direction:row;
    border: 1px #2b2b2b solid;
    width:8rem;
    height: 2rem;
    padding: 2px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
    
}

.saatavuus p {
    margin-bottom: 3px;
}



/* Mobiilimääritykset  */

@media (max-width: 768px) {
    .etusivu_kuva  {
        height: 200px;
    }



body {
   max-width: 100%;
   margin: 0;
   overflow-x: hidden;
}

.navbar{
    width: 100%;
    overflow: hidden;
    max-height: 30vh;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.navbar li {
    width: 100%;
    text-align: center;
}

.navbar a {
    display: block;
    width: 100%;
    padding: 4px 12px;
    font-size: 0.9rem;
    white-space: nowrap;
}


.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.profile_buttons {
    width: 100%;
}

#kirjaudu {
    min-width: 100%;
    font-size: 0.9rem;
}

.profile a {
    padding: 6px 8px;
    font-size: 0.5rem;
}
/*  Etusivu */
.etusivu_alaosa {
    flex-direction: column;
    height: auto;
}

#vasen, #oikea {
        width: 100%;
        border-bottom: 2px solid #000;
 }

.uudetTapahtumat, .suositutTapahtumat {
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 1rem;
    padding: 0.7rem;
}

.uudetTapahtumat h2, 
.suositutTapahtumat h2 {
    font-size: 0.7rem;
    text-align: center;
  }
  
.uudetTapahtumat a, 
.suositutTapahtumat a {
    color: #000;
    border: 0.7px #2b2b2b solid;
    border-radius: 1px;
    font-size: 0.9rem;
    padding: 1.5px;
}

  .uudetTapahtumat p, 
.suositutTapahtumat p {
    font-size: 0.9rem;
    text-align: center; 
}
/*  Yksittäisen tapahtuman tiedot */
.tapahtumanTiedot {
    height: auto;
}

.tapahtumanTiedot button[type=submit] {
    margin-top: 3px;
}

.tapahtumanTiedot p {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.6;
}

.saatavuus {
    margin-bottom: 0.5rem;
}

.saatavuus p {
    margin-bottom: 1rem;
}

/* Tapahtuma-lista*/

.tapahtuma p {
    font-size: 1rem;
    
}
.tapahtuma h2 {
    margin-bottom: 2rem;

}

    /*  Uuden tapahtuman lisäys */      
.lisaaTapahtuma {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem 2rem;
       
}

.lisaaTapahtuma input,  
.lisaaTapahtuma textarea {
    font-size: 14px;
    border-radius: 4px;
    padding: 6px;
}
.lisaaTapahtuma input[type=submit] {
    height: 2.5rem;
    grid-column-start: 1;
}

.yllapitosivu {
    font-size: 1rem;
}

}