@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/*  Sivuston runko  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Exo 2', sans-serif;
  background: #272727e8;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
  background-color: #d4d4d4;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;

}

section {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    background-color:#b3b3b3;
}


footer {
    background-color: #d4d4d4;
    height: 5vh;
    display: flex;
    align-items: flex-end;
    
}

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}


/* Header  */ 

.ylatunniste {
    background-color: #b3b3b3;
    min-height: 10vh;
    max-width: 100vw;
    display: flex;
}

.tunniste_painikkeet {
        background-color:#d4d4d4 ;
        height: 10vh;
        margin-right: 2em;
        display: flex;
        align-items: center;
        border: 1px #2b2b2b groove;       
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;
    
}

.navbar a {
    padding: 15px;
    border: 1px #2b2b2b solid;
    color: rgb(7, 6, 6);
    text-decoration: none;

}

.navbar a:hover {
    background-color: #404040;
}
.navbar li:last-child {
    margin-left: auto;
}

.profile {
    float: right;
    display: flex;
}

#kirjaudu_ulos{
    margin-left: 1rem;
}

.tunniste_painikkeet a{
    color: #2b2b2b;
    text-decoration: none;
}

.etusivu  {
    width: 100%;
    height: 54vh;
    aspect-ratio: 16/9;
    overflow: hidden;
}
/* Etusivun kuva */
.etusivu img{
    max-height: 100%;
    max-width: 100%;
}


/* tapahtumien fontit */
.font_metal{
    font-family:'Metal Mania', cursive;
    letter-spacing: 1px;
}

.font_default{
    font-family: 'Inter', sans-serif;
}

.otsikko {
    text-align: center;
    margin-bottom: 2rem;
}
/*  Uuden tilin luonti  */

.signup_form {
    width: 50%;
    height: 70vh;
    margin: auto;    
}


input {
  border: 1px solid #999;
  border-radius: 0.3rem;
  padding: 0.45rem;
  font-size: 1rem;

}
input[type=submit] {
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  background-color:#2b2b2b;
  color: #fff;
  font-weight: bold;
  min-width: 12rem;
  margin: 1rem auto;
}
.error {
  color: red;
  font-size: 0.8rem;
}
.tili_luotu {
    border: 2px #2b2b2b solid;
    border-radius: 2px;
    max-width:25.5rem;
    margin:3rem auto;
}
.tili_luotu p {
    text-align: center;
}

#kirjaudu_painike {
    padding: 14px 27px;
    color: #b3b3b3;
    background-color: #534b4b;
    margin-left: 42%;
    display: inline-block;
    text-align: center;
    text-decoration: none;    
}

#tili_luotu_otsikko {
    margin-top: 2em;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.info {
  background-color: #b3b3b3;
  border: 1px solid #2b2b2b;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 2rem;
  text-align: center;
}

.info a {
  color: #e5e4e4;
  text-decoration: none;
  font-size: 1.2rem;
}


#kirjaudu_aktivoitu{
    text-align: center;
    display: block;
    padding: 14px 14px;
    color: #b3b3b3;
    background-color: #534b4b;
    margin: 2em auto 0 auto;
    width: fit-content;
    text-decoration: none; 
}

.tili_aktivoitu {
    text-align: center;
}
/* Ylläpitosivu */

.yllapitosivu {
    text-align: center;
}

.yllapitosivu h2 {
    margin-top: 1rem;
}

.lisaaTapahtuma {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 1.2rem 2rem;
     max-width: 45vw;
     margin: 1rem auto;
       
}

.lisaaTapahtuma input,  
.lisaaTapahtuma textarea {
    font-size: 14px;
    border-radius: 4px;
    padding: 8px;
}
.lisaaTapahtuma input[type=submit] {
    width: 5rem;
    height: 3rem;
}

/* Etusivun alaosan määritykset */

.etusivu_alaosa {
    width: 100%;
    height: 35vh;
    display: flex;

}

 #vasen, #oikea {
    width: 50%;
    max-height: 100%;
     border: 2px black solid;
     background-color: #b3b3b3;
     
}

.etusivu_alaosa h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
}


.uudetTapahtumat, .suositutTapahtumat {
    max-height: 9vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    gap: 2rem;
}

.uudetTapahtumat p, .suositutTapahtumat p {
    font-size: 1.4rem;
}

/* lippujen saatavuuden määrityspallo */
.paljon {
  height: 15px;
  width: 15px;
  background-color: #08b617;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.2rem;
  
}

.vahissa {
  height: 15px;
  width: 15px;
  background-color: hsl(59, 92%, 54%);
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.2rem;
}

.loppu {
  height: 15px;
  width: 15px;
  background-color: #f80e06;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.2rem;
}

.tapahtumanTiedot {
    height: 30vh;
}
/* yksittäisen tapahtuman tiedot */
.tapahtumanTiedot h2 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.tapahtumanTiedot p {
    font-size: 1.3rem;
}

.ostoTiedot button {
    height:1.5rem;
    width:4rem;
    border-radius: 3px;
}

.tapahtuma {
    border-bottom: 1px solid #555;
}

.tapahtuma p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
    
}
.tapahtuma a {
    display: block;
    width: 3.5rem;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.tapahtuma h2 {
    text-align: center;
}

